<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corrindata.backgroundvolumebuttons">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <service
            android:name=".VolumeEventReceiverService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />
    </application>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

</manifest>
